<div id="list">
  <div nz-row [nzGutter]="15">
    <div nz-col *ngFor="let project of projectList.voList" [nzSpan]="6" class="project">
      <nz-card [class.delCss]="project.state=='Delete'">
        <ng-template #body>
          <div class="project_name">
            <p class="project_zh">
              <span class="myWidth">{{project.name}}</span>
              <span class="myCss">{{project.author}}</span>
            </p>
            <p class="project_en">{{project.englishName}}</p>
          </div>
          <div class="project_summary">{{project.description}}</div>
          <div class="project_time">
            <span class="mr-15 myLan">{{project.language}}</span>
            <nz-tooltip [nzTitle]="'创建时间'" [nzPlacement]="'topLeft'">
              <span nz-tooltip>{{project.createTime | spliceStr}}</span>
            </nz-tooltip>
            <span>{{buildNumber}}</span>
          </div>

          <button nz-button [nzType]="'default'" [nzSize]="'small'" class="detail mt ml" (click)="goDetail(project)">
            <i class="anticon anticon-copy"></i>
            <span>详情</span>
          </button>
          <button nz-button [nzType]="'default'" [nzSize]="'small'" class="detail mt" (click)="goDel(project)">
            <i class="anticon anticon-copy"></i>
            <span>删除</span>
          </button>

        </ng-template>
      </nz-card>
    </div>
  </div>
</div>
