<nz-layout class="layout-simple">
  <!--顶部 start-->
  <nz-header>
    <div class="logo fl" [routerLink]="'/main/project'">
      <img src="{{app.logoDark}}">
    </div>
    <ul class="fr mr">
      <li title="创建项目" (click)="goAddPro()"><i class="anticon anticon-plus"></i></li>
      <li title="退出登录" (click)="logout()"><i class="anticon anticon-logout"></i></li>
    </ul>
  </nz-header>
  <!--顶部 end-->
  <!--业务中心 start-->
  <nz-content>
    <div class="content-wrap">
      <!--路由嵌套-业务处理区域 start-->
      <router-outlet></router-outlet>
      <!--路由嵌套-业务处理区域 end-->
    </div>
  </nz-content>
  <!--业务中心 end-->
  <!--底部 copyright start-->
  <nz-footer class="text-center">
    {{app.copyright}}
  </nz-footer>
  <!--底部 copyright end-->
</nz-layout>
