<!--引导语 start-->
<div class="page-msg-red mt-20">
  <p class="title">{{guideLang.tipTitle}}</p>
  <ul>
    <li *ngFor="let item of guideLang.message.proRepository">{{item}}</li>
  </ul>
</div>
<!--引导语 end-->

<!--设置项目信息 start-->
<div nz-row class="pt-20">
  <form nz-form [formGroup]="validateForm" class="p-20">

    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="8">
        <label nz-form-item-required>帐户名</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('account')" nzHasFeedback>
        <nz-input formControlName="account" [nzPlaceHolder]="'请填写帐户名'" [nzType]="'text'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('account').dirty&&getFormControl('account').hasError('required')">
          请填写帐户名！
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="8">
        <label nz-form-item-required>密码</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('password')" nzHasFeedback>
        <nz-input formControlName="password" [nzPlaceHolder]="'请填写密码'" [nzType]="'password'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain
             *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">
          请填写密码！
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="8">
        <label nz-form-item-required>仓库类型</label>
      </div>

      <div nz-col [nzSpan]="8" nz-form-control>
        <nz-radio-group formControlName="type">
          <label nz-radio [nzValue]="'Git'">
            <span>Git</span>
          </label>
          <label nz-radio [nzValue]="'Svn'">
            <span>Svn</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="8">
        <label nz-form-item-required>仓库地址</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('home')" nzHasFeedback>
        <nz-input formControlName="home" [nzPlaceHolder]="'请填写仓库地址'" [nzType]="'text'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain
             *ngIf="getFormControl('home').dirty&&getFormControl('home').hasError('required')">
          请填写仓库地址！
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="8">
        <label nz-form-item-required>仓库说明</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('description')" nzHasFeedback>
        <nz-input formControlName="description" [nzPlaceHolder]="'请填写仓库说明'" [nzType]="'text'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('description').dirty&&getFormControl('description').hasError('required')">
          请填写仓库说明！
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="8">
        <label>项目编码</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('projectCode')" nzHasFeedback>
        <nz-input formControlName="projectCode" [nzPlaceHolder]="'请填写项目编码'" [nzType]="'text'" [nzSize]="'large'">
        </nz-input>
      </div>
    </div>
    <div nz-row class="text-center p-20 bt">
      <button nz-button [nzSize]="'large'" class="btn-blue" (click)="skipTo(2,'edit')">
        <span>上一步</span>
      </button>
      <button nz-button [nzSize]="'large'" class="thc-btn-w"
              (click)="nextStep($event,validateForm.value)">
        <span>完成</span>
      </button>
    </div>
  </form>

</div>
<!--设置项目信息 end-->
